.team1{
    border: 1px solid red;
}
.team2{
    border: 1px solid green;
}
.team1 path{
    fill:red;

}
.team2 path{
    fill:green;

}
.team3 path{
    fill:blue;

}



.svg1true svg{
    padding-top: 22px;
    width: 22px;
    height: 22px;


}
.svg2true svg{
    padding-top: 22px;
    width: 22px;
    height: 22px;


}
.svg3true svg {
    padding-top: 22px;
    width: 22px;
    height: 22px;


}
.svg1false svg{
    padding-top: 4px;
    width: 8px;
    height: 8px;


}
.svg2false svg{
    padding-top: 4px;
    width: 14px;
    height: 14px;


}
.svg3false svg {
    padding-top: 4px;
    width: 22px;
    height: 22px;


}




