.team1 {
    border: 1px solid red;
}

.team2 {
    border: 1px solid green;
}

.team1 path {
    fill: red;

}

.team2 path {
    fill: green;

}

.team3 path {
    fill: blue;

}


.svgisSelectedtrue {
    padding-top: 4px;
    border: 6px solid blue;


}

.svgisSelectedfalse svg {
    padding-top: 4px;


}

.size1 svg {

    height: 5px;
    width: 5px;

}

.size2 svg {


    height: 15px;
    width: 15px;

}

.size3 svg {

    height: 25px;
    width: 25px;
}




